<!DOCTYPE html>
<html ng-app='waldoApp'>

<head>
<title>Waldo!</title>
<link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css'>
<link rel='stylesheet' href='/style/app.css'>
</head>

<body>
<div class='header'>
  <div class='container'><h3>Where's Waldo?</h3></div>
</div>

<div ng-controller='searchController' class='container'>
  <div class='input-group'>
    <input type='text' class='form-control' ng-model='searchQuery'>
    <span class='input-group-btn'>
      <button class='btn btn-default' type='submit' ng-click='search()'>Search</button>
    </span>
  </div>
</div>

<div ng-controller='chartController' class='container'>
  <div class='row'>
    <div class='col-md-12' ng-show='loading()'>
      Loading...
    </div>
    <div class='col-md-12' ng-show='!loading() && !emptyList()'>
      {{searchResults.data.length}} events fetched.
    </div>
    <div class='col-md-12' ng-show='emptyList()'>
      No search results at the moment.
    </div>
  </div>
  <wl-tabular class='row' ng-show='!loading() && !emptyList()'></wl-tabular>
</div>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js'></script>
<script src='/app.js'></script>
<script src='/services/wl_search_data.js'></script>
<script src='/services/wl_search_state.js'></script>
<script src='/controllers/search.js'></script>
<script src='/controllers/chart.js'></script>
<script src='/directives/wl_tabular.js'></script>
</body>
</html>
