<!DOCTYPE html>
<html ng-app='waldoApp'>
<head>
<title>Waldo!</title>
</head>
<body>
<div ng-controller='searchController'>
  <form>
    <input type='text' ng-model='searchQuery'/>
    <button ng-click='search()'>Search</button>
  </form>
  <div>
    <p ng-show='emptyList()'>No search results at the moment.</p>
    <p ng-show='loading()'>Loading...</p>
    <ul ng-show='!loading()'>
      <li ng-repeat='searchResult in searchResults'>
        {{searchResult}}
      </li>
    </ul>
  </div>
</div>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js'>
</script>
<script type='text/javascript'>
var waldoApp = angular.module('waldoApp', []);
var searchController = waldoApp.controller('searchController', function($scope, $http) {
  $scope.state = 'displaying';

  $scope.searchResults = [];

  $scope.search = function() {
    var querystring = searchQueryToQuerystring($scope.searchQuery);
    $http.post('/search?' + querystring).then(function(result) {
      $scope.state = 'displaying';
      if (result.status === 200) {
        $scope.searchResults = result.data.events;
      } else {
        alert('Search request failed, displaying previous data.');
      }
    });
    $scope.state = 'loading';
  };

  $scope.emptyList = function() {
    return ($scope.state === 'displaying' && $scope.searchResults.length === 0);
  }

  $scope.loading = function() {
    return $scope.state === 'loading';
  }

  function searchQueryToQuerystring(query) {
    return query.split(' ').join('&');
  }
});
</script>
</body>
</html>
